* {
	box-sizing: border-box;
	font-family: sans-serif;
}
body{
	position: relative;
}

.center {
	border: 5px double gray;
	box-shadow: 10px 10px 5px #888888;
	position: absolute;
    left: 0;
    top: 50%;
    width: 50%;
    text-align: center;
    font-size: 18px;
    padding-left: 100px;
  	padding-right: 100px;
  	padding-top: 20px;
  	padding-bottom: 20px;
  	margin-top: 100px;
  	margin-left:500px;
}

.js-query{
	height:30px;
	width: 350px;
   font-size:14pt;
}
.js-search-results{

}
.search-button{
	color: gray;
	height: 30px;
	width: 80px;
	border: 2px solid;
    border-radius: 10px;
    margin-bottom: 30px;
}