* {
	box-sizing: border-box;
	font-family: sans-serif;
}


body {
	position: relative;
	background-repeat: no-repeat, no-repeat;
	background-size: 50%, 50% ;
}
main {
	background-color: white;
	width: 50%;
	min-height: 200px;
	border-radius: 5px;
	text-align: center;
	margin: auto;
	margin-top: 55px;
	margin-bottom: 50px;
	padding: 15px;
	}